{% extends "base.html" %}
{% load static %}

{% block content %}
<head>
    <meta charset="UTF-8">
    <title>Профиль пользователя</title>
</head>
<body>
    <h1>Профиль пользователя {{ user.username }}</h1>

    <h2>Изменить данные</h2>
    <form method="POST" action="{% url 'user:profile' %}">
        {% csrf_token %}
        <label for="username">Имя пользователя:</label>
        <input type="text" name="username" id="username" value="{{ user.username }}" required>

        <label for="password">Пароль:</label>
        <input type="password" name="password" id="password" required>

        <button type="submit">Сохранить изменения</button>
    </form>

    <h2>Мои рецепты</h2>
    <ul>
        {% for recipe in recipes %}
            <li>
                <strong>{{ recipe.title }}</strong><br>
                <p>{{ recipe.description|truncatechars:50 }}</p>
                <small>Добавлен {{ recipe.created_at|date:"d.m.Y H:i" }}</small>
            </li>
        {% empty %}
            <li>У вас пока нет рецептов.</li>
        {% endfor %}
    </ul>
</body>
{% endblock  %}